<div class="container">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3 mt-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-1">
                            <form action="" method="post" class="text-center border border-light p-5">
                                <p class="h4 mb-4">Sửa ghi chú</p>
                                <div class="form-outline mb-4">
                                    <input type="text" value="{{itemmGhiChu.tieude}}" name="tieude" id="form5Example1"
                                           class="form-control"/>
                                </div>
                                <p id="mmm"></p>

                                <div class="form-outline mb-4 ">
                                    <div class=" ">
                                        <input class="form-control form-control-lg" id="image" type="file"
                                               onchange="previewFiletruyen()"/>
                                        <img class=" form-control mb-4 mt-5" id="img_preview"
                                             src="{{itemmGhiChu.anhdaidien}}" width="200"
                                             height="200" alt="Image preview...">
                                        <input type="hidden" height="200" name="anhdaidien" id="anhdaidien">
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <select name="trangthai" class="form-control" id="form5Example3">
                                        <option>Trạng thái</option>
                                        <option id="vl1" value="Hoạt động">Hoạt động</option>
                                        <option id="vl2" value="Không hoạt động">Không hoạt động</option>
                                    </select>
                                </div>
                                <!--                                <div class="form-outline mb-4">-->
                                <!--                                    <div class="form-check form-check-inline">-->
                                <!--                                        <input class="form-check-input" type="radio" name="trangthai"-->
                                <!--                                               id="rdo1" value="option1">-->
                                <!--                                        <label class="form-check-label" for="inlineRadio1">Nam</label>-->
                                <!--                                    </div>-->
                                <!--                                    <div class="form-check form-check-inline">-->
                                <!--                                        <input class="form-check-input" type="radio" name="trangthai"-->
                                <!--                                               id="rdo2" value="option2">-->
                                <!--                                        <label class="form-check-label" for="inlineRadio2">Nữ</label>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
<!--                                <div class="form-outline mb-4">-->
<!--                                    <div class="form-check form-check-inline">-->
<!--                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"-->
<!--                                               value="option1">-->
<!--                                        <label class="form-check-label" for="inlineCheckbox1">1</label>-->
<!--                                    </div>-->
<!--                                    <div class="form-check form-check-inline">-->
<!--                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"-->
<!--                                               value="option2">-->
<!--                                        <label class="form-check-label" for="inlineCheckbox2">2</label>-->
<!--                                    </div>-->
<!--                                    <div class="form-check form-check-inline">-->
<!--                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3"-->
<!--                                               value="option3" disabled>-->
<!--                                        <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>-->
<!--                                    </div>-->

<!--                                </div>-->

                                <div class="form-outline mb-4">
                                    <input type="text" value="{{itemmGhiChu.noidung}}" name="noidung" id="form5Example2"
                                           class="form-control"/>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mb-4">Sửa</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function previewFiletruyen() {
        const preview = document.querySelector('#img_preview');
        const file = document.querySelector('#image').files[0];
        const anhdaidien = document.querySelector('#anhdaidien');
        const reader = new FileReader();
        reader.addEventListener("load", function () {
            preview.src = reader.result;
            anhdaidien.value = reader.result;
        }, false);
        if (file) {
            reader.readAsDataURL(file);
        }
    }

    var status = "{{itemmGhiChu.trangthai}}";
    var vl1 = document.getElementById('vl1');
    var vl2 = document.getElementById('vl2');
    if (status == "Hoạt động") {
        vl1.selected = true;
    } else if (status == "Không hoạt động") {
        vl2.selected = true;
    }

    <!--var status = "{{itemmGhiChu.trangthai}}";-->
    <!--var vl1 = document.getElementById('rdo1');-->
    <!--var vl2 = document.getElementById('rdo2');-->
    <!--if (status == "Nam") {-->
    <!--    vl1.checked = true;-->
    <!--} else if (status == "Nữ") {-->
    <!--    vl2.checked = true;-->
    <!--}-->
    <!--document.getElementById("mmm").innerHTML = "{{itemmGhiChu.tieude}}";-->
</script>